<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
	<!-- 최초 대문 페이지 설정 -->
  	<welcome-file-list>
  		<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
  
  	<!-- 세션 자동만료 시간 설정 -->
  	<session-config>
  		<session-timeout>60<!-- 분단위 --></session-timeout>
  	</session-config>
  	
  	<!-- EncodingFilter 등록 -->
  	<filter>
  		<filter-name>encodingFilter</filter-name>
  		<filter-class>semi.filter.EncodingFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>encodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<!-- 판매자 테스트 필터 -->
   	<filter>
  		<filter-name>sellertestLoginFilter</filter-name>
  		<filter-class>semi.filter.SellerTestLoginFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>sellertestLoginFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<!-- 사용자 테스트 필터 -->
   	<filter>
  		<filter-name>membertestLoginFilter</filter-name>
  		<filter-class>semi.filter.MemberTestLoginFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>membertestLoginFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	  	 


 
 	<!-- 관리자 계정 필터 -->
 	<!-- 
 	<filter>
  		<filter-name>admintestLoginFilter</filter-name>
  		<filter-class>semi.filter.AdminFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>admintestLoginFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
   	 -->
   	 
   	 <!-- 자동 삭제 서블릿 등록 -->
   	 <servlet>
   	 	<servlet-name>automatic</servlet-name>
   	 	<servlet-class>semi.servlet.reservation.AutomaticDeleteControlServlet</servlet-class>
   	 	<load-on-startup>1</load-on-startup>
   	 </servlet>
    

</web-app>







